<div class="container">
  <div class="row">
    <%= render 'public/users/list', user: @user %>
    <div class="col-md-8 offset-1 mt-3">
      <div class="index-wrapped">
        <h4 style="background-color: #99ff99;", class="text-white pl-5">フォロワー</h4>
        <%= render 'follow_list', users: @users %>
      </div>
    </div>
  </div>
