<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mb-5">
      <h4>5HUNOVEL-ゴフノベル-とは？</h4>
      <div class="card mt-3 p-1">
        <h5>ご案内</h5>
        5HUNOVEL-ゴフノベル-「５分で読める超短編小説」に特化した小説投稿サイトです。<br>
        約5分で小説を読みたい方・アマチュア作家で超短編小説にチャレンジしたい方・初めて小説を書く方・
        読書を始めてみたい方・クリエイター同士の繋がりを求めている方、全ての方に向けた小説投稿サイトです。<br>
        超短編小説を自由に掲載したり、掲載された「ゴフノベル」を無料でお読みいただけます。
      </div>
      <div class="card mt-3 p-1">
        <h5>使い方</h5>
        <strong>小説だけを読みたい方</strong>
        会員登録はせず、ゲストログインにて小説を読むことができます。<br>
        会員登録をすることで、作家をフォローしたり、ブックマークを付けることができるようになります。<br>
        <strong>小説投稿をしたい方</strong>
        会員登録をすることで小説を投稿することができるようになります。<br>
        サイドバーの「新規投稿はこちら」ボタンから小説投稿にお進みください。
      </div>
      <div class="card mt-3 p-1">
        <h5 class="text-danger"><strong>注意事項</strong></h5>
        ゴフノベルでは、投稿小説に対してコメントすることができるようになっております。<br>
        しかし、作家や作品への誹謗中傷・公序良俗に反するコメントは禁止しております。<br>
        ルールを守って、楽しく5分の世界を楽しみましょう！<br>
      </div>

      <center>
        <%= link_to "ユーザー登録", new_user_registration_path, class:"btn btn-warning text-white mt-5 mb-3" %>
      </center>
    </div>
  </div>
</div>

