<div class="container">
  <div class="row">
    <div class="col-4 offset-4 mt-5">
      <p>
        <h4>ようこそ<br>
        5HUNOVEL-ゴフノベル-へ！<br></h4>
        ゴフノベルは、<br>
        「５分で読める超短編小説」に特化した<br>
        小説投稿サイトです。<br>
        ともに５分の世界を楽しみましょう！<br>

        <%= link_to "　ログイン　", new_user_session_path, class:"btn btn-success mt-3" %><br>
        <%= link_to "ユーザー登録", new_user_registration_path, class:"btn btn-primary mt-2 mb-3" %><br>
        <%= link_to "ゲストの方はこちらから", users_guest_sign_in_path, method: :post, class:"text-secondary pt-5" %><br>
        <%= link_to "5HUNOVELとは？", public_about_path, class:"text-secondary mt-2" %>
      </p>
    </div>
  </div>
</div>