<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 mt-5">
      <p>
        <center>
        <h4 class="text-success">ようこそ<strong>5HUNOVEL-ゴフノベル-へ！</strong></h4>
        ゴフノベルは、<br>
        「５分で読める超短編小説」に特化した小説投稿サイトです。<br>
        ともに５分の世界を楽しみましょう！<br>
        </center>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-4 mt-5">
      <center>
      <%= link_to "　ログイン　", new_user_session_path, class:"btn btn-success mr-5 mb-5" %>
      <%= link_to "ユーザー登録", new_user_registration_path, class:"btn btn-outline-success ml-5 mb-5" %><br>
      <%= link_to "ゲストの方はこちらから（閲覧用)", users_guest_sign_in_path, method: :post, class:"text-secondary pt-5" %><br>
      <%= link_to "5HUNOVELとは？", public_about_path, class:"text-secondary mt-2" %>
      </center>
    </div>
  </div>

</div>