<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <%= render 'public/users/list', user: current_user %>
    <div class="col-sm-12 col-md-8 offset-md-1 mx-sm-auto mt-3">
      <div class="index-wrapped">
      <h4 style="background-color: #99ff99;", class="text-white pl-5">ゴフノベル一覧</h4>
      <%= render 'list', novels: @novels %>
      <%= paginate @novels %>
      </div>
    </div>
  </div>
</div>