<div class="container">
  <div class="row">
    <%= render 'public/users/list', user: @user %>
    <div class="col-9">
      <h4>ゴフノベル一覧</h4>
      <%= render 'list', novels: @novels %>
    </div>
  </div>
</div>