<!--/*.messageを部分更新。appendメソッドで要素を追加 */-->
<%# binding.pry %>
$('#message').append("<li style='text-align: right; background-color: rgba(153, 204, 0, 0.3);'><%= @chat.message %></li>");

<!--$('.message').append("-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th class="message">-->
<!--        <p style="text-align: left;"><%#= @chat.message %></p>-->
<!--      </th>-->
<!--      <th></th>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--");-->

<!--$('.message').append("<tbody><tr><th class="message"><p style="text-align: left;"><%#= @chat.message %></p></th><th></th></tr></tbody>");-->

<!--/*チャット投稿後、フォームの値に前回の投稿内容が残らないようにする */-->
$('input[type=text]').val("")