<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <div class="index-wrapped">
        <h4 style="background-color: #99ff99;", class="text-white pl-5"><%= @genre. name%></h4>
        <%= render 'public/novels/list', novels: @novels%>
      </div>
    </div>
  </div>
</div>