.comment1{
    position:relative;
    max-width:200px;
    background:#fff;
    padding:8px;
    margin:0 8px 0 8px;
    border:solid 1px rgb(150,150,150);
    border-radius:8px;
}

.comment2{
    position:relative;
    max-width:200px;
    background:#fff;
    padding:8px;
    margin:0 8px 0 8px;
    border:solid 1px rgb(150,150,150);
    border-radius:8px;
}