/*.chat1 .comment{*/
/*    position:relative;*/
/*    max-width:200px;*/
/*    background:#fff;*/
/*    padding:8px;*/
/*    margin:0 8px 0 8px;*/
/*    border:solid 1px rgb(150,150,150);*/
/*    border-radius:8px;*/
/*}*/

.profile-wrapped {
  border: 2px solid #66cc00;
  padding: 5px 5px 15px 5px;
}

.profile-image {
  position: relative;
}

.profile-box {
  padding: 15px;
}

.index-wrapped {
  border: 2px solid #ccffcc;
  padding: 5px 5px 15px 5px;
  margin-bottom: 10px;
}

.unsubscribe-wrapped {
  border: 2px solid #ff6666;
  padding: 5px 5px 15px 5px;
  margin-bottom: 10px;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}
/* 表示しているページ番号のデザイン */
.pagination > li > a {
  border: none;
  color: #33ffcc;
}
.pagination > li > a:hover {
  color: #33cc33;
  background-color: #ffffcc;
  border-radius: 15px;     /*角を丸くする*/
}
/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  color: #33ccff;
  background-color: #ccff99;
  border-radius: 15px;     /*角を丸くする*/
}
.pagination > .active > a:hover {
  background-color: white;
  color: turquoise;
}
/* --ページネーション */