<table class="table">
  <thead>
  <tr>
  <th>タイトル</th>
  <th>作家名</th>
  </tr>
  </thead>
  <tbody>
    <% novels.each do |novel| %>
      <tr>
        <td>
          <%= link_to admin_novel_path(novel) do %>
            <%= novel.title %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_user_path(novel.user) do %>
            <%= novel.user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>