<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h4>ゴフノベル一覧</h4>
    </div>
  </div>
  <div classs="row">
    <div class="col-8 offset-2">
      <%= render 'admin/novels/list', novels: @novels %>
      <%= paginate @novels%>
    </div>
  </div>
</div>