<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <div class="admin-wrapped">
        <h4 style="background-color: #000088;", class="text-white pl-5">ゴフノベル一覧</h4>

        <%= render 'admin/novels/list', novels: @novels %>
        <%= paginate @novels%>
      </div>
    </div>
  </div>
</div>