<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <!--ユーザーの詳細-->
    <%= render 'list', user: @user %>


    <!--ユーザーの投稿一覧-->
    <div class="col-md-8 offset-1 mt-3">
      <div class="index-wrapped">
      <h4 style="background-color: #99ff99;", class="text-white pl-5">投稿済みゴフノベル一覧</h4>
      <%= render 'public/novels/list', novels: @novels %>
      <% if @user.name == "ゲストユーザー" %>
        <p>ゲストユーザーはゴフノベルを投稿できません</p>
      <% end %>
      </div>
      <div class="index-wrapped">
      <h4 style="background-color: #99ff99;", class="text-white pl-5">ブックマーク一覧</h4>
      <%= render 'public/novels/list', novels: @favorite_novels %>
      <% if @user.name == "ゲストユーザー" %>
        <p>ゲストユーザーはブックマークをできません</p>
      <% end %>
      </div>
    </div>
  </div>
</div>

