<div class="container">
  <div class="row">
    <!--ユーザーの詳細-->
    <%= render 'list', user: @user %>
    
    
    <!--ユーザーの投稿一覧-->
    <%= render 'public/novels/list', novels: @novels %>
  </div>
</div>

