    <footer class="bg-light text-white pt-5 pb-4" style="background-color: rgba(240,255,240);">
      <div class="container">
        <div class="row no-gutters">
          <div class="col text-center">
            <a href="/">
              <%= image_tag 'logo.jpg' %>
              <%= link_to new_admin_session_path do %>
                <i class="fas fa-feather text-info"></i>
              <% end %>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>