    <footer class="bg-light text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 offset-4">
            <a href="/"><span><center><%= image_tag 'logo.jpg' %></center></span></a>
          </div>
        </div>
      </div>
    </footer>
  </body>